{
  "discordToken": "",
  "discordTokenBeta": "",
  "channels": {
    "motionVotingPublic": "",
    "motionVoting": "",
    "general": ""
  },
  "devchannels": {
    "motionVotingPublic": "",
    "motionVoting": "",
    "general": ""
  }
}